/* todo =================== FEATURED-SECTION ===================== */

.featured-section {
  padding: 80px 0px;
}

.product-slider,
.benefits-slider,
.sellers-slider {
  display: flex !important;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  display: flex !important;
  align-items: stretch !important;
}

.slick-list {
  padding: 20px 0px;
}

.product-item {
  border-radius: 4px;
  border: 1px solid transparent;
  width: 100%;
  max-width: 300px;
}

.slick-slide {
  display: flex !important;
  align-items: stretch !important;
}

.slick-slide > div {
  width: 100% !important;
}

.product-slider::-webkit-scrollbar,
.benefits-slider::-webkit-scrollbar,
.sellers-slider::-webkit-scrollbar {
  display: none;
}

.product-item .product-header {
  position: relative;
  text-align: center;
  padding: 5px;
  overflow: hidden;
  background-color: var(--white-100);
}

/* ! ~~~~~~~~~ PRODUCT_PAGE ~~ ~~~~~~ */
.product_page .product-item {
  border-radius: 4px;
  border: 1px solid transparent;
  height: 420px;
  width: 100%;
}

.product_page .product-item .product-header {
  height: 43%;
}

/* Benefits Section */

.benefits-section {
  padding: 50px 0px;
}

.benefits-section .ach-tt {
  font-size: 24px;
  color: var(--gray-100);
  font-family: "Roboto", serif;
}

.benefits-section .benefits-slider .product-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.benefits-section .benefits-slider .product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 576px) {
  .product_page .product-item {
    border-radius: 4px;
    border: 1px solid transparent;
    height: 380px !important;
  }

  .product_page .product-item .product-details {
    padding: 10px 20px !important;
  }
}

.product-item .product-header .cart {
  height: 60px;
  width: 60px;
  background-color: var(--green-color);
  color: var(--white-100);
  border: 1px solid var(--green-color);
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 40px;
  bottom: 20px;
  cursor: pointer;
}

.product-item .product-header .cart i {
  font-size: 34px;
}

.product-item .product-header .product-img {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
}

.product-item .product-header .product-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: 0.3s ease;
  cursor: pointer;
  margin: 0 auto;
}

.product-item .product-details {
  padding: 15px;
  width: 100%;
  text-align: center;
}

.product-item .product-name {
  font-size: 22px;
  font-weight: 500;
  color: var(--black-100);
}

.product-item p {
  font-size: 18px;
  color: var(--gray-100);
}

.product-item .prefered-price {
  font-size: 16px;
  color: var(--gray-60);
}

.product-item .price {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.product-item .price .new-price {
  color: var(--black-100);
  font-size: 26px;
  font-weight: 500;
}

.slick-slide {
  margin: 0 10px;
}

.slick-dots {
  bottom: -35px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
}

.slick-dots li button:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--text-gray);
  opacity: 0.3;
  transition: 0.2s ease;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  transition: 0.2s ease;
}

/* todo ~~~~~~~~~~ BENEFITS-SECTION ~~~~~~~~~~ */

.benefits-section {
  padding: 50px 0px;
}

.benefits-section .ach-tt {
  font-size: 24px;
  color: var(--gray-100);
  font-family: "Roboto", serif;
}

.benefits-section .product-item .product-name {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.benefits-section .product-item .product-header .product-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.benefits-section .product-item .product-header .product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 576px) {
  .featured-section {
    padding: 40px 0px;
  }

  .product-item .product-header {
    padding: 10px;
  }

  .product-item .product-header .product-img {
    height: 120px;
    width: 120px;
  }

  .product-item .product-header img {
    height: 60%;
    width: 60%;
    object-fit: contain;
  }

  .product-item .product-header .cart {
    height: 35px;
    width: 35px;
    right: 20px;
    bottom: 20px;
  }

  .product-item .product-header .cart i {
    font-size: 22px;
  }

  .product-item .product-details {
    padding: 8px 15px;
  }

  .product-item .product-name {
    font-size: 13px;
  }

  .product-item p {
    font-size: 12px;
  }

  .product-item .prefered-price {
    font-size: 12px;
  }

  .product-item .price .new-price {
    font-size: 16px;
  }

  .product-item .green-btn {
    padding: 5px 12px;
  }

  /* ? */
  .benefits-section .ach-tt {
    font-size: 18px;
  }

  .benefits-section .product-item .product-header .product-img {
    height: 65px;
    width: 65px;
  }

  .benefits-section .product-details h5 {
    font-size: 18px;
  }

  .benefits-section .product-item .product-name {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 450px) {
  .product_page .product-item {
    border-radius: 4px;
    border: 1px solid transparent;
    height: 350px !important;
  }
}
