/* todo =================== PRODUCT-GRID-SECTION ===================== */

.product-grid {
  padding: 60px 0px;
}

.product-grid .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 10px;
}

.product-grid .grid-item {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.product-grid .grid-item .img {
  height: 70px;
  width: 70px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-100);
}

.product-grid .grid-item .grid-details {
  display: flex;
  flex-direction: column;
}

.product-grid .grid-item .grid-details .name {
  font-family: "Roboto", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}

.product-grid .grid-item .grid-details .desc {
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 400;
}

/* todo ~~~~~~~~~~ LOGOS-SLIDER-SECTION ~~~~~~~~~~ */

.logos-slider {
  padding: 50px 0px;
  background-color: var(--bg-gray);
}

.logos-slider .container {
  position: relative;
}

.logos-slider .pause-icon button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  border: 1px solid var(--gray-40);
  font-size: 22px;
  color: var(--black-100);
}

#playPauseBtn {
  cursor: pointer;
  position: absolute;
  top: -70px;
  right: 10px;
  color: var(--black-100);
}

#playPauseBtn i {
  color: var(--black-100);
}

.paused #pauseIcon {
  display: none;
}

.paused #playIcon {
  display: block;
}

.logos {
  overflow: hidden;
  position: relative;
  display: flex;
}

.logos-slide {
  display: flex;
  animation: scroll 20s linear infinite;
  animation-play-state: running;
}

.logos-slide.paused {
  animation-play-state: paused;
}

.logos-slide .slide-item {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  padding: 0px 30px;
  text-align: center;
}

.logos-slide .slide-item img {
  height: auto;
  object-fit: cover;
}

.logos-slide .slide-item .dsc {
  font-size: 16px;
  color: var(--gray-100);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}

@media screen and (max-width: 1200px) {
  .product-grid .grid-item .img {
    height: 60px;
    width: 60px;
  }

  .product-grid .grid-item .grid-details .name {
    font-size: 16px;
  }

  .product-grid .grid-item .grid-details .desc {
    font-size: 16px;
  }
}

@media screen and (max-width: 1020px) {
  .product-grid .grid-item .img {
    height: 45px;
    width: 45px;
  }

  .product-grid .grid-item .img img {
    height: 25px;
    width: 20px;
    object-fit: contain;
  }

  .product-grid .grid-item .grid-details .name {
    font-size: 14px;
  }

  .product-grid .grid-item .grid-details .desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .product-grid .grid-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-grid .grid-item .grid-details {
    align-items: center;
    gap: 3px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .product-grid {
    padding: 60px 0px;
  }

  .product-grid .container {
    gap: 10px 5px;
  }

  .product-grid .grid-item .grid-details .desc span {
    display: none;
  }
}
