
/* todo =================== NAVBAR-SECTION ===================== */

header {
  position: relative;
  top: 0;
  background-color: var(--bg-gray);

}

.navbar-section {
  background-color: var(--bg-gray);
  padding: 15px 40px;
  border-bottom: 1px solid var(--gray-40);
}

.gotocart,
.returntocart {
  text-decoration: none;
  color: var(--black-100);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 450;
  gap: 0px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.returntocart i {
  font-size: 26px;
}

.gotocart:hover,
.returntocart:hover {
  color: var(--green-color);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.input-box {
  display: none;
}

.navbar-section .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .all {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  color: var(--text-gray);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

header .customize-sec {
  position: fixed;
  left: -100%;
  max-width: 300px;
  top: 0;
  display: block;
  background-color: var(--white-100);
  overflow-y: auto;
  height: 100%;
  z-index: 9999;
  padding: 20px 10px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  padding-top: 50px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

header .customize-sec::-webkit-scrollbar {
  display: none;
}

header .customize-sec li,
header .customize-sec button {
  font-size: 14px;
  padding: 7px 12px;
}

header .customize-sec .group-list .list-body .ct-img {
  display: none;
}

header .customize-sec .close-menu {
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  right: 8px;
  top: 8px;
  color: var(--gray-100);
  cursor: pointer;
}

header .all i {
  font-size: 28px;
  font-weight: 600;
}

header .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 15px;
  border: 1px solid var(--gray-60);
  border-radius: 40px;
}

header .input-wrapper input {
  outline: none;
  border: none;
  background-color: transparent;
}

header .input-wrapper i {
  font-size: 20px;
  color: var(--gray-60);
  cursor: pointer;
}

header .logo {
  width: 170px;
  position: relative;
  left: 0px;
}

.navbar-section .nav .logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-section .country {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.navbar-section .country img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
  position: relative;
  background-color: var(--bg-gray);
  border-bottom: 1px solid var(--gray-40);
}

header .menu-item .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header header .menu-item ul {
  margin: 0;
  padding: 0;
}

header .menu-item .nav-list .main-listed-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item .nav-list li {
  padding: 10px 10px;
  position: relative;
}

.menu-item .nav-list li a {
  color: var(--black-100);
  font-weight: 500;
  font-size: 19px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item .nav-list li a i {
  font-size: 28px;
  height: 40px;
}

.menu-item .right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item .right-items a {
  text-decoration: none;
}

.sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--black-100);
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#myAccountDetails {
  position: absolute;
  background-color: var(--white-100);
  padding: 20px 15px;
  width: 360px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  left: -180%;
  top: 140%;
  display: none;
  -webkit-animation: fadeing 0.3s ease;
          animation: fadeing 0.3s ease;
  height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
  z-index: 99999;
}

#myAccountDetails.block {
  display: block;
}

#myAccountDetails .u-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  background-color: #eee;
  padding: 20px 20px;
  border-radius: 8px;
}

#myAccountDetails .u-info .img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  outline-offset: 5px;
  outline: 3px solid var(--green-color);
}

#myAccountDetails .u-info .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#myAccountDetails .u-details .name-or-num {
  font-size: 22px;
  font-weight: 500;
}

#myAccountDetails .u-details .digit {
  font-weight: 400;
  font-size: 18px;
}

#myAccountDetails .acc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: 400;
}

#myAccountDetails .acc-item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

#myAccountDetails .acc-item .icon svg {
  height: 26px;
  width: 26px;
}

#myAccountDetails .acc-item .icon svg path {
  fill: var(--gray-40);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

#myAccountDetails .acc-item:hover {
  color: var(--green-color);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

#myAccountDetails .acc-item:hover svg path {
  fill: var(--green-color);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

#myAccountDetails .acc-item span {
  font-size: 20px;
}

.sign-in .icon {
  height: 40px;
  width: 40px;
  background-color: var(--black-100);
  color: var(--white-100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.sign-in .icon svg path,
.sign-in .icon svg circle {
  fill: var(--white-100);
}

.sign-in .icon img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .shoping-cart {
  position: relative;
}

.shoping-cart .total-prd {
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--green-color);
  color: var(--white-100);
  font-weight: 500;
  font-size: 13px;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -10px;
}

.mobile-items {
  display: none;
}

.menu-item .nav-list li:hover .sub-list {
  display: block;
}

.menu-item .sub-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--white-100);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px 15px;
  border-radius: 8px;
  display: none;
  position: absolute;
  top: 52px;
  left: -5px;
  width: 260px;
  -webkit-animation: fadeing 0.3s ease;
          animation: fadeing 0.3s ease;
  z-index: 9999;
}

@-webkit-keyframes fadeing {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes fadeing {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

.menu-item .sub-list li {
  padding: 0;
  margin: 0;
}

.menu-item .sub-list li a {
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 6px 5px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.menu-item .sub-list li a:hover {
  color: var(--green-color);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.menu-item .bigger-sublist {
  width: 1100px;
  padding: 30px 50px;
}

.menu-item .bigger-sublist .list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.menu-item .bigger-sublist .list-header .item {
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.menu-item .bigger-sublist .list-header .item.active {
  color: var(--green-color);
}

.menu-item .bigger-sublist .list-header .item.active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: var(--green-color);
}

.menu-item .bigger-sublist .list-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.menu-item .list-content {
  display: none;
  width: 100%;
}

.menu-item .list-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.menu-item .bigger-sublist h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
}

.menu-item .bigger-sublist .list-body li a {
  font-weight: 400;
}

#closeBtn {
  display: none;
}

/* ? ~~~~~~~~~~ OFFCANVAS FOR COUNTRY LIST ~~~~~~~~~ */

#countryList.offcanvas {
  width: 350px;
}

#countryList h4 {
  font-size: 22px;
  font-weight: 600;
  color: var(--black-100);
  line-height: 1.2;
  text-transform: uppercase;
}

#countryList .offcanvas-header {
  padding: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--gray-60);
}

#countryList .offcanvas-body {
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

#countryList .cn-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid var(--gray-60);
  text-decoration: none;
  color: var(--black-100);
  cursor: pointer;
}

#countryList .cn-item .cn-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#countryList .cn-item .cn-img {
  height: 22px;
  width: 25px;
  overflow: hidden;
}

#countryList .cn-item .cn-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#countryList .cn-item .cn-name {
  font-size: 17px;
  font-weight: 500;
}

#countryList .cn-arrow {
  font-size: 24px;
}

/* Select Language */

.selectLanguage {
  position: fixed;
  height: 100%;
  right: -100%;
  width: 100%;
  max-width: 350px;
  top: 0;
  padding: 0;
  padding-top: 15px;
  background-color: var(--white-100);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow: hidden;
  z-index: 22;
}

.selectLanguage.open {
  right: 0;
}

.selectLanguage .back-btn {
  font-size: 22px;
  color: #318bdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.selectLanguage .back-btn i {
  font-size: 28px;
}

.selectLanguage .lang-item {
  margin-top: 0px;
  padding: 15px 15px;
  border-top: 1px solid var(--gray-40);
  color: #318bdb;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.selectLanguage .lang-item:last-child {
  border-bottom: 1px solid var(--gray-40);
}

/* todo ~~~~~~~~~~~~~~~~ CUSTOMIZE-SEC (ALL ITEM ) ~~~~~~~~~~~~~~~~~~ */

/* Customize-sec */
.customize-sec button {
  font-size: 16px;
}

.customize-sec .group-list {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 16px;
  color: var(--black-100);
}

.customize-sec .group-list .header {
  max-height: 32px;
  cursor: pointer;
}

.customize-sec .group-list .header .chev-down i {
  font-size: 26px;
  font-weight: 500;
}

.customize-sec .group-list .list-body li {
  padding: 8px 12px;
  border-top: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 500;
}

.customize-sec .group-list .list-body {
  overflow: hidden;
  max-height: 0px;
  padding: 0;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.customize-sec .group-list.activeList .list-body {
  max-height: 400px;
}

.customize-sec .input-bullet {
  height: 10px;
  width: 10px;
  outline-offset: 4px;
  outline: 2px solid var(--gray-40);
  background-color: #dadada;
  border-radius: 50%;
  cursor: pointer;
}

.customize-sec .list-nm {
  width: calc(100% - 25px);
}

.customize-sec .active-bullet {
  background-color: var(--green-color);
  outline-color: var(--green-color);
}

/* TODO ~~~~~~~~~~~~~~~~ PV RANGE LINE ~~~~~~~~~~~~~~~~~ */

.slider-w-pv .slider-container {
  position: relative;
  width: 70%;
  top: 3px;
  margin-top: 5px;
}

.slider-w-pv .range-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 13px;
  background: -webkit-gradient(
    linear,
    left top, right top,
    color-stop(100%, var(--green-color)),
    color-stop(0%, transparent)
  );
  background: -o-linear-gradient(
    left,
    var(--green-color) 100%,
    transparent 0%
  );
  background: linear-gradient(
    to right,
    var(--green-color) 100%,
    transparent 0%
  );
  border: 1px solid transparent;
  border-radius: 15px;
  outline: none;
  position: relative;
  top: -4px;
}

.slider-w-pv .range-line .tt-dsc,
.slider-w-pv .range-line .myPv {
  font-size: 14px;
}

.slider-w-pv .range-slider-80 {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 13px;
  background: -webkit-gradient(
    linear,
    left top, right top,
    color-stop(80%, var(--green-color)),
    color-stop(20%, transparent)
  );
  background: -o-linear-gradient(
    left,
    var(--green-color) 80%,
    transparent 20%
  );
  background: linear-gradient(
    to right,
    var(--green-color) 80%,
    transparent 20%
  );
  border: 1px solid;
  border-radius: 15px;
  outline: none;
  position: relative;
  top: -4px;
}

.slider-w-pv .range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--green-color);
  border: 3.8px solid var(--white-100);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 7px #000a;
          box-shadow: 0px 0px 7px #000a;
}

.slider-w-pv .range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--green-color);
  border: 3.8px solid var(--white-100);
  border-radius: 50%;
  cursor: pointer;
}

.slider-w-pv .range-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--green-color);
  border: 3.8px solid var(--white-100);
  border-radius: 50%;
  cursor: pointer;
}

.slider-w-pv .myPv {
  font-size: 16px;
  color: var(--gray-100);
  text-transform: uppercase;
}

.slider-w-pv .tt-dsc {
  font-size: 16px;
  color: var(--gray-100);
}

.slider-w-pv #tooltip {
  position: absolute;
  top: -28px;
  left: 80%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
  color: var(--gray-100);
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 22;
}

.shopby-menu {
  display: none;
}

@media screen and (max-width: 576px) {
  .gotocart,
  .returntocart {
    font-size: 16px;
  }

  .returntocart i {
    font-size: 20px;
  }

  #countryList.offcanvas {
    width: 250px;
  }

  #countryList h4 {
    font-size: 20px;
  }

  #countryList .cn-item {
    gap: 2px;
    padding: 10px 12px;
  }

  #countryList .cn-item .cn-img {
    width: 18px;
  }

  #countryList .cn-item .cn-img img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  #countryList .cn-item .cn-name {
    font-size: 15px;
    font-weight: 500;
  }

  #countryList .cn-arrow {
    font-size: 18px;
  }

  .customize-sec .group-list .header .name {
    font-size: 14px;
  }

  /* Select-language */

  .selectLanguage {
    position: fixed;
    width: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .menu-item .nav-list li a {
    color: var(--black-100);
    font-weight: 500;
    font-size: 19px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-item .nav-list li a i {
    font-size: 22px;
  }

  .menu-item .bigger-sublist {
    width: 90vw;
    padding: 20px 30px;
  }

  .menu-item .bigger-sublist .list-header .item {
    font-size: 20px;
  }

  .menu-item .bigger-sublist .list-body {
    padding: 30px 10px;
    padding-top: 30px;
  }

  .menu-item .bigger-sublist h4 {
    font-size: 18px;
  }

  .bigger-sublist.without-header .list-body {
    padding: 0px;
    padding: 0px;
  }

  .bigger-sublist.without-header {
    width: 55vw;
  }

  .bigger-sublist.without-header {
    left: -42vw;
  }
}

@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
    position: relative;
    height: 100%;
  }

  .navbar-section .nav .logo {
    display: none;
  }

  .sign-in span {
    display: none;
  }

  .menu-item .right-items svg {
    height: 30px;
    width: 30px;
  }

  .menu-item .right-items .shoping-cart .total-prd {
    font-size: 12px;
  }

  #myAccountDetails {
    width: 380px;
    left: -300px;
  }

  #myAccountDetails .u-details .name-or-num {
    font-size: 20px;
  }

  #myAccountDetails .acc-item span {
    display: inline-block;
  }

  .menu-item .navbar-menu .nav-list {
    display: none;
  }

  header .menu-item {
    display: none;
  }

  header .menu-item-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 12px;
    position: relative;
    background-color: var(--bg-gray);
    border-bottom: 1px solid var(--gray-40);
  }

  .navbar-section {
    padding: 10px 12px;
  }

  .back-home-mb a {
    text-decoration: none;
    color: var(--black-100);
    font-weight: 500;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .back-home-mb a i {
    font-size: 24px;
  }

  .dashboard-menu {
    cursor: pointer;
  }

  .shopby-menu {
    position: fixed;
    width: 100%;
    height: calc(100% - 55px);
    background-color: var(--white-100);
    z-index: 999;
    right: 0;
    top: 55px;
    padding-top: 50px;
    overflow-y: auto;
    padding-bottom: 30px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-animation: fading 0.3s ease;
            animation: fading 0.3s ease;
    display: none;
    border-radius: 4px;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  @-webkit-keyframes fading {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  }

  @keyframes fading {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  }

  .shopby-menu .close-btn {
    font-size: 26px;
    font-weight: 600;
    color: var(--gray-100);
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 55;
    cursor: pointer;
  }

  .shopby-menu .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 15px;
    padding: 15px;
    background-color: var(--bg-gray);
    width: auto;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .shopby-menu .products::-webkit-scrollbar {
    display: none;
  }

  .shopby-menu .products .products-item {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 8px;
  }

  .shopby-menu .products .products-item img {
    width: 120px;
    height: 70px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .shopby-menu .products .products-item span {
    font-size: 14px;
    color: var(--gray-100);
    width: 100px;
  }

  .shopby-menu .products .products-item .icon {
    height: 40px;
    width: 40px;
    background-color: var(--black-100);
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .shopby-menu .products .products-item .icon img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .shopby-menu .products .products-item span {
    line-height: 1.1;
  }

  .shopby-menu .categories li {
    margin-top: 8px;
  }

  .shopby-menu .categories li a {
    text-decoration: none;
    color: var(--black-100);
    font-size: 16px;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .shopby-menu .categories li a:hover {
    color: var(--green-color);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .shopby-menu .categories .list-header {
    padding: 0px 0px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .shopby-menu .categories .acr-body {
    padding: 0px 40px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
  }

  .shopby-menu .categories .acr-body.show {
    max-height: 200px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
  }

  /* Arrow rotation */
  .list-header.active .arrows i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  .arrows i {
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    display: inline-block;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
  }
}

@media screen and (max-width: 576px) {
  #myAccountDetails {
    width: 85vw;
    left: -70vw;
  }

  #myAccountDetails .u-info {
    gap: 12px;
    padding: 15px 10px;
    border-radius: 8px;
  }

  #myAccountDetails .u-info .img {
    height: 45px;
    width: 45px;
    outline-offset: 4px;
    outline: 2px solid var(--green-color);
  }

  .menu-item .navbar-menu {
    padding: 12px;
  }

  #myAccountDetails .u-details .digit {
    font-weight: 400;
    font-size: 16px;
  }

  #myAccountDetails .acc-item span {
    font-size: 17px;
    display: inline-block;
  }

  /* Country Circly */
  .navbar-section .nav .country {
    height: 32px;
    width: 32px;
  }

  .sign-in .icon {
    height: 34px;
    width: 34px;
  }

  .sign-in .icon svg {
    height: 20px;
    width: 20px;
  }

  .menu-item-phone .all-with-search {
    width: calc(100% - 12%);
  }

  .menu-item-phone .all-with-search .search {
    width: 100%;
  }

  .menu-item-phone .all-with-search input {
    font-size: 16px;
    width: 100%;
    display: inline-block;
  }

  header .input-wrapper {
    width: 100%;
    padding: 4px 10px;
  }

  header .customize-sec {
    max-width: 65%;
  }
}

@media screen and (max-width: 480px) {
  .menu-item .sub-list h4 {
    font-size: 16px;
  }

  .menu-item .sub-list li a {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  #myAccountDetails {
    width: 90vw;
    left: -68vw;
  }
}